@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/*Estilos dos botÃµes*/

#excluirCarro .btn{
    transition: 0.8s;
    color: #FFFFFF;
    background-color: #D63232;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.125rem;
    border-radius: 20px;
    font-style: normal;
    text-decoration: none;
}

#excluirCarro .btn:hover{
    transition: 0.8s;
    color: #D63232;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 20px;
    font-size: 1.125rem;
    font-style: normal;
    text-decoration: none;
}

#excluirCarro p {
    font-size: 1.125rem;
    font-family: Roboto;
    font-weight: 900;
}

.btn-card{
	transition: 0.6s;
	font-size: 1.5rem;
	font-family: Roboto;
	font-weight: 500;
    font-style: normal;
	color: #FFFFFF;
	padding: 1rem 2.5rem 1rem 2.5rem;
	border: none;
	background-color: #000000;
	border-radius: 0.9375rem;
}

.btn-card:hover{		
	transition: 0.6s;
	color: #FF5E5E;
	background-color: #FFFFFF;
}

/* ConfiguraÃ§Ãµes do carrossel */

.col-md-3 .card .card-img .img-fluid,
.col-md-3 .card .card-img,
.col-md-3 .card{
    min-height: 20vh;
}

.col-md-3 .card .card-img .img-fluid{
    position: absolute;
    top: 0;
    left: 0%;
}


.carousel .carousel-item .a{
    min-height: 20vh;
}

.carousel .carousel-item {
    height: 35vh;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 35vh;
  }

.quatroItensCarrossel{
    height: 20px;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
   
    .carousel-inner .carousel-item-end.active .a,
    .carousel-inner .carousel-item-next .a{
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active .a, 
    .carousel-inner .carousel-item-prev .a{
      transform: translateX(-25%);
    }


.carousel-inner .carousel-item-end .a,
.carousel-inner .carousel-item-start .a{ 
  transform: translateX(0);
}

/*Estilizacao da caixa de exclusao de automoveis*/

.avisoExclusao{
    font-size: 5rem;
    color: #E5D117;
}

/*estilo das listas*/

ul{
	list-style-type: none;
}

.listaCarros{

    margin-left: 200rem;
}

/*estilo do botÃ£o de voltar da pÃ¡gina admin*/


.voltar{
    transition: 0.8s;
    position: absolute;
    left: 2.36%;
    right: 95.21%;
    top: 3.03%;
    bottom: 93.33%;
    font-size: 2rem;
    color: #DB4A4A;
}

.voltar:hover{
    transition: 0.8s;
    color: #FFFFFF;
}

/*area destinada a imagem e a primeira coluna do site de login administrativo*/

.marketing{
    background-color: rgba(255, 255, 255);
}

.marketing p{
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    color: #ACACAC;
}

.marketing h3{
    color: #5A5A5A;
    font-size: 1.5rem;
}

.marketing input{
    width: 50%;
}

.imagem-marketing-logo{
    height: 15rem;
    filter: drop-shadow(0px 4px 12px rgba(189, 29, 29, 0.25));
    width: 15rem;
}

.imagem-marketing{
    height: 53vh;
    width: 39vw;

}

/*estilizaÃ§Ã£o dos formulÃ¡rios*/

form h4{
    font-size: 3rem;
    font-family: Roboto;
    font-weight: 900;
    font-size: normal;
    color: #FFFFFF;
}

form .escrita{
    font-size: 2.25rem;
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
}


.form-control{
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.form-control:focus{
    outline: none;
    box-shadow: 1px 1px 4px rgba(255, 0, 0, 0.726);
}

.form-login{
    background-color: #DB4A4A;
    justify-content: center;
}

.form-login label{
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 1.125rem;
}

/* FormulÃ¡rio de inserÃ§Ã£o dos carros */

.formInserirCarro label{
    color: #787878;
    font-family: Roboto;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
}

.formInserirCarro .form-check-label{
    color: #626262;
    font-family: Roboto;
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 500;
}

.formInserirCarro .btn{
    transition: 0.8s;
    color: #FFFFFF;
    background-color: #D63232;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
}

.formInserirCarro .btn:hover{
    transition: 0.8s;
    background-color: #FFFFFF;
    color: #D63232;
}

.formInserirCarro .btn:focus{
	outline: none;
	box-shadow: none;
}

.formInserirCarro select{
    font-size: 1rem;
    color: #787878;
}

/*estilizaÃ§Ã£o da parte de baixo da pagina adm*/

.escrita-baixa {

    font-family: Roboto;
    font-weight: 400;
    
    color: #F9F9F9;
    font-size: 0.75rem;
    
}

/*estilizaÃ§Ã£o da pÃ¡gina de ambientaÃ§Ã£o do administrador.*/

body{
    margin-top: 0;
}

html, body{
    height: 100%;
}


.admin-side{
    height: 100%;
}

.admin-side img{
    margin-left: 25%;
}

.admin-side a{
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
    color: #BD1D1D;
}

.logout{
    transition: 0.8s;
    position: absolute;
    left: 2.36%;
    right: 95.21%;
    top: 93.33%;
    bottom: 3.03%;
    font-size: 2rem;
    color: #DB4A4A;
    transform: rotateY(3.142rad);
}

.logout:hover{
    transition: 0.8s;
    color: #FFFFFF;
}

.perfilfoto{
    width: 13vw;
    height: 21vh;
    border-radius: 20px;
}

.admin-side .inline-icon{
    margin-right: 2rem;
}

.btn-adicionar-carro{
    padding: 0;
    transition: 0.8s;
    border: none;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
    color: #BD1D1D;
}

.inline-icon{
	margin-right: 0.5rem;
}

/*segunda coluna (dos veÃ­culos anunciados)*/

.linha-carro-admin img{
    width: 43px;
    height: 40px;
}

.editar{
    padding: 0;
    transition: 0.8s;
    border: none;
    color: #6BAE6A;
    width: 30px;
    height: 36px;
    font-size: 1.25rem;
}

.excluir{
    padding: 0;
    transition: 0.8s;
    border: none;
    color: #DB2121;
    width: 30px;
    height: 36px;
    font-size: 1.25rem;
}

.estoque-escrita{
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.page-link{
    color: #BD1D1D;
}