@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/*Estilos dos botões*/

.btn-card{
	transition: 0.6s;
	font-size: 1.5rem;
	font-family: Roboto;
	font-weight: 500;
    font-style: normal;
	color: #FFFFFF;
	padding: 1rem 2.5rem 1rem 2.5rem;
	border: none;
	background-color: #000000;
	border-radius: 0.9375rem;
}

.btn-card:hover{		
	transition: 0.6s;
	color: #FF5E5E;
	background-color: #FFFFFF;
}

/*estilo das listas*/

ul{
	list-style-type: none;
}

/*estilo do botão de voltar da página admin*/


.voltar{
    transition: 0.8s;
    position: absolute;
    left: 2.36%;
    right: 95.21%;
    top: 3.03%;
    bottom: 93.33%;
    font-size: 2rem;
    color: #DB4A4A;
}

.voltar:hover{
    transition: 0.8s;
    color: #FFFFFF;
}

/*area destinada a imagem e a primeira coluna do site de login administrativo*/

.marketing{
    background-color: rgba(255, 255, 255);
}

.marketing p{
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    color: #ACACAC;
}

.marketing h3{
    color: #5A5A5A;
    font-size: 1.5rem;
}

.marketing input{
    width: 50%;
}

.imagem-marketing-logo{
    height: 15rem;
    filter: drop-shadow(0px 4px 12px rgba(189, 29, 29, 0.25));
    width: 15rem;
}

.imagem-marketing{
    height: 53vh;
    width: 39vw;

}

/*estilização do formulário*/

form h4{
    font-size: 3rem;
    font-family: Roboto;
    font-weight: 900;
    font-size: normal;
    color: #FFFFFF;
}

form .escrita{
    font-size: 2.25rem;
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
}

form label{
    font-family: Roboto;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 1.125rem;
}

form input{
    height: 2.5rem;
}


.form-control{
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.form-control:focus{
    outline: none;
    box-shadow: 1px 1px 4px rgba(255, 0, 0, 0.726);
}

.form-login{
    background-color: #DB4A4A;
    justify-content: center;
}

.escrita-baixa {

    font-family: Roboto;
    font-weight: 400;
    
    color: #F9F9F9;
    font-size: 0.75rem;
    
}

/*estilização da página de ambientação do administrador.*/

body{
    margin-top: 0;
}

html, body{
    height: 100%;
}


.admin-side{
    height: 100%;
}

.admin-side img{
    margin-left: 25%;
}

.admin-side a{
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
    color: #BD1D1D;
}

.logout{
    transition: 0.8s;
    position: absolute;
    left: 2.36%;
    right: 95.21%;
    top: 93.33%;
    bottom: 3.03%;
    font-size: 2rem;
    color: #DB4A4A;
    transform: rotateY(3.142rad);
}

.logout:hover{
    transition: 0.8s;
    color: #FFFFFF;
}

.perfilfoto{
    width: 11vw;
    height: 21vh;
    border-radius: 50%;
}

.admin-side .inline-icon{
    margin-right: 2rem;
}

.btn-adicionar-carro{
    padding: 0;
    transition: 0.8s;
    border: none;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
    color: #BD1D1D;
}

/*segunda coluna (dos veículos anunciados)*/

.linha-carro-admin img{
    width: 43px;
    height: 40px;
}

.editar{
    padding: 0;
    transition: 0.8s;
    border: none;
    color: #6BAE6A;
    width: 30px;
    height: 36px;
    font-size: 1.25rem;
}

.excluir{
    padding: 0;
    transition: 0.8s;
    border: none;
    color: #DB2121;
    width: 30px;
    height: 36px;
    font-size: 1.25rem;
}

.container .row{
    background-color:#EFEFEF ;
}

.estoque-escrita{
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.page-link{
    color: #BD1D1D;
}