/* fontes importadas Google Fonts */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Configurações do menu */

body {
	margin-top: 5%;
}

.nav img {
	filter: drop-shadow(0px 4px 12px rgba(189, 29, 29, 0.25));
}

.navbar {
	background-color: #FFFFFF;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

/* botões no geral e configurações de ícones da navbar e geral*/

.btn{
	font-family: Roboto;
	font-size: 1.25rem;
	font-weight: 500;
	color: #BD1D1D;
	transition: 0.6s;
}

.btn:focus{
	outline: none;
	box-shadow: none;
}

.btn:hover{
	color: #d6d6d6;
}


.btn-card{
	transition: 0.6s;
	font-size: 1rem;
	font-family: Roboto;
	font-weight: 400;
	color: #FFFFFF;
	padding: 0.5rem 2rem 0.5rem 2rem;
	border: none;
	background-color: #FF5E5E;
	border-radius: 0.625rem;
}

.btn-card:hover{		
	transition: 0.6s;
	color: #FF5E5E;
	background-color: #FFFFFF;
}

.inline-icon{
	margin-right: 0.5rem;
}

/* offCanvas -- Sidebar */

.offcanvas-body {
	color: #BD1D1D;
}

.offcanvas-body li{
	color: #BD1D1D;
	font-size: 1.2rem;
	margin-top: 1.3vw;
}

.menu-itens{
	font-size: 1.2rem !important;
}

.offcanvas-body a{
	transition: 0.6s;
	color: #BD1D1D;
	text-decoration: none;
	font-size: 2.4rem;
	margin-top: 2.4vh;
}


.offcanvas-body a:hover{
	transition: 0.6s;
	color: #d6d6d6;
}


.offcanvas-body .row {
	margin-left: 1vw;
	margin-top: 52vh;
}

/* Configurações do Carrossel */

.carousel-inner img {
	margin: auto;
}

/* Configuração dos carros de estoque */


.card {
	background-color: #F9F9F9;
	border: none;
	border-radius: 11px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.page-item a{
	color: #BD1D1D;
	margin-bottom: 2rem;
	border: 0px ,0px ,0px ,1px;
}


/* footer */

.paragraph-footer{
	margin: 0;
	font-family: Roboto;
	font-size: 0.875rem;
	color: #8C8C8C;
}

.quadradofofinho{
	margin-right: 0.1%;
	display: inline-block;
	height: 0.9rem;
	width: 5px;
	background-color: #DF0000;
}

.title-footer{
	font-family: Roboto;
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
}

.col.text-center{
	font-weight: bold;
}

.col-lg-2 img {
	filter: drop-shadow(0px 4px 12px rgba(189,29,29,0.25));
}

.col-lg-2{
	margin-right: 2rem;
}

footer{
	margin-top: 8rem;
	box-shadow: 2px -4px 10px rgba(209, 40, 40, 0.25);
	background-color: #FFFFFF;
}

footer a{
	display: inline-block;
	margin-left: 0.2rem;
	color: #000000;
	font-size: 1.2rem;
}

footer a:hover{
	transition: 0.6s;
	color: #DF0000;
}

/* whatsapp button */

.whatsappbutton{
	transition: 0.6s;
	text-decoration: none;
	z-index: 2;
	display: flex;
	position: fixed;
	
	font-size: 2.5rem;
	bottom: 1vh;
	right: 1vw;

	color: #FFFFFF;
	background-color: #04C617;
	padding: 0.7rem;
	max-height: 62px;
	max-width: 62px;
	min-height: 62px;
	min-width: 62px;
}

.whatsappbutton:hover{
	transition: 0.6s;
	color: #04C617;
	background-color: #FFFFFF;
}

.passa-pagina
{
	cursor: pointer;
}